@{
    ViewData["Title"] = "Informacije";
    if (ViewBag.Ulogiran == "true")
    {
        Layout = "_LoginLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}
<h1>@ViewData["Title"]</h1>

<p>Ova aplikacija je završni rad bla bla nadopuniti poslje</p>
