<h1>News</h1>
<hr/>
<div class="text-center">
@if (@Model.PagingInfo.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { page = Model.PagingInfo.CurrentPage - 1 })"
           class="btn btn-primary">
            &laquo; Previous
        </a>
    }
    @if (@Model.PagingInfo.CurrentPage < @Model.PagingInfo.TotalPages)
    {
        <a href="@Url.Action("Index", new { page = Model.PagingInfo.CurrentPage + 1 })"
           class="btn btn-primary">
            Next &raquo;
        </a>
    }
</div>
@foreach (var article in Model.Articles){
<div class="row">
	<div class="col-5">
		<img src="@Url.Content(@article.Figure)" alt="Image" />
	</div>
	<div class="col-7">
		<div class="row text-center">
			<h3>@article.Title</h3>
		</div>
		<div class="row">
			@article.Summary
		</div>
		<div class="row">
			<div class="col-6">
				@article.Author
			</div>
			<div class="col-6">
				@article.Date
			</div>
		</div>
	</div>
</div>
<hr/>
@foreach (var comment in article.Comments){
	<div class="row">
		<div class="col-2">
			@comment.Author
		</div>
		<div class="col-8">
			@comment.Text
		</div>
	</div>
}
}

<hr/>
<div class="row">
	<form asp-action="..." asp-controller="...">
		<div class="form-inline">
			<div class="col-2">
				<label class="col-form-label col-form-label-sm" for="inputSmall">Username:</label>
				<input class="form-control form-control-sm" type="text" placeholder="Username" id="inputSmall" name="author">
			</div>
			<div class="col-8">
				<label class="col-form-label col-form-label-sm" for="inputSmall">Text</label>
				<input class="form-control form-control-sm" type="text" placeholder="Enter comment text here..." id="inputSmall" name="text">
			</div>
			<div class="col-2">
				<input type="submit" value="Add comment" class="btn btn-primary btn-sm" />
			</div>			
		</div>
	</form>
</div>
<hr/>
